@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root{
    --btn-color: #71b7e6;
    --text-color: #56564c8f;
    --border-color: darkcyan;
    --bg-color: #333;
}
a{
    color: var(--text-color);
}